@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind components;
@tailwind utilities;


body {
    background-color: #4422ff0f;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h2.primary-font {
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.radix-themes { 
  color: var(--violet-a12);
  --default-font-family: var(--font-dmsans)
}

.radix-themes:where(.dark, .dark-theme) {
    &,
    :root:where(:has(&[data-is-root-theme='true'])) {
      color-scheme: dark;
    }
  }

.radix-themes {
    &:where([data-panel-background='solid']) {
      --color-panel: var(--color-panel-solid);
      --backdrop-filter-panel: none;
    }
}

/* [#FAF0E6] */

:root {
    --violet-a1: #4422ff0f;
    --violet-a2: #853ff916;
    --violet-a3: #8354fe36;
    --violet-a4: #7d51fd50;
    --violet-a5: #845ffd5f;
    --violet-a6: #8f6cfd6d;
    --violet-a7: #9879ff83;
    --violet-a8: #977dfea8;
    --violet-a9: #8668ffcc;
    --violet-a10: #9176fed7;
    --violet-a11: #baa7ff;
    --violet-a12: #e3defffe;
  }

.heading-text {
    color: var(--violet-a11);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.text {
    transition: color 0.3s
}

.text:hover {
    color: #baa7ff;
    font-weight: bold;
}

.link:active {
  color: #e3defffe;
}